doctype html
html
  head
    title CarbonJS Framework - A modular MVC framework for Node.js based on Zend Framework
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="../assets/3rd-party/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    script(src="../assets/3rd-party/jquery/js/jquery-2.1.4.min.js")    
    script(src="../assets/3rd-party/bootstrap/js/bootstrap.min.js")
    script(async, defer, id="github-bjs", src="https://buttons.github.io/buttons.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71801501-1', 'auto');
      ga('send', 'pageview');

    script.
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//46.101.168.233/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 4]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    noscript
      img(src="//46.101.168.233/piwik/piwik.php?idsite=4", style="border:0;", alt="piwik")      
    style(type="text/css").
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 16px;
        margin-top: 24px;
      }
      
      #header {
        background-color: #111;
        margin-bottom: 50px;
        padding: 20px;
      }
            
      #header iframe {
        position: absolute;
        right: -165px;
        top: 10px;
      }
            
      #header ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
      }
      
      #header ul li {
        display: inline-block;
      }
      
      #header ul li a {
        color: #fff;
        display: block;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
      }
            
      .nav .nav {
        padding-left: 20px;
      }
      
      .nav li a {
        padding: 5px 10px;
      }
      
      pre {
        margin-bottom: 15px;
      }
  body
    #header
      .container
        .pull-left(style="position: relative")
          a(href="//www.carbonjs.com")
            img(src="../assets/carbonjs/images/logo.png")
          a(aria-label="Follow @carbonjs on GitHub", data-count-aria-label="# followers on GitHub", data-count-api="/users/carbonjs#followers", data-count-href="/carbonjs/followers", href="https://github.com/carbonjs", class="github-button") Follow @carbonjs
        .pull-right
          ul
            li
              a(href="/") Home
            li
              a(href="/framework") Framework
            li
              a(href="/forms") Forms
            li
              a(href="/validators") Validators
            li
              a(href="/filters") Filters
    .container
      .row
        .col-md-3
          h1
            a(aria-label="Star carbonjs/carbon-framework on GitHub", data-count-aria-label="# stargazers on GitHub", data-count-api="/repos/carbonjs/carbon-framework#stargazers_count", data-count-href="/carbonjs/carbon-framework/stargazers", data-style="mega", data-icon="octicon-star", href="https://github.com/carbonjs/carbon-framework", class="github-button") Star
          nav.affix-top
            ul.nav
              li
                a(href="#intro") Introduction
              li
                a(href="#getting-started") Getting started
                ul.nav
                  li
                    a(href="#installation") Installation
                  li
                    a(href="#project-structure") Project structure
                  li
                    a(href="#bootstrapping") Bootstrapping
                  li
                    a(href="#configuration") Configuration
                  li
                    a(href="#custom-init") Custom initialization
                  li
                    a(href="#hooks") Hooks
                  li
                    a(href="#controllers") Controllers
                  li
                    a(href="#routing") Routing
                  li
                    a(href="#helpers") Helpers
                    ul.nav
                      li
                        a(href="#headlink-helper") HeadLink helper
                      li
                        a(href="#headmeta-helper") HeadMeta helper
                      li
                        a(href="#headscript-helper") HeadScript helper
                      li
                        a(href="#headtitle-helper") HeadTitle helper
                      li
                        a(href="#navigation-helper") Navigation helper
                      li
                        a(href="#url-helper") Url helper
                li
                  a(href="#who-is-using-it") Who is using it
                li
                  a(href="#contributing") Contributing
        .col-md-9
          !{body}
